.copyright {
  margin-left: auto;

  & p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #858585;
    letter-spacing: 0.01px;
  }
}

@media (max-width: $mobile) {
  .copyright {
    margin: 0;
    text-align: center;
  }
}