.main-header {
  width: 100%;
  max-width: 1366px;
  padding-top: 3.9%;
  padding-left: 2.9%;
  padding-bottom: 4%;
  margin: 0 auto;
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.main-header__logo {
  margin-right: 3.8%;
}