.main-footer {
  width: 100%;
  max-width: 1366px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: $mobile) {
  .main-footer {
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
  }
}