@font-face {
  font-family: "Arial MT";
  src: url("../fonts/ArialMT.woff") format("woff"); }

@font-face {
  font-family: "Arial MT Bold";
  src: url("../fonts/Arial-BoldMT.woff") format("woff");
  font-weight: 700; }

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column; }

.top-wrapper {
  width: 100%;
  border-bottom: 1px solid #f0f0f0; }

h2 {
  padding: 0;
  margin: 0;
  font-family: "Arial MT Bold", serif, Arial;
  font-size: 18px;
  color: #333333; }

.main-header {
  width: 100%;
  max-width: 1366px;
  padding: 2.4% 2.9% 2.4%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center; }

.main-header__logo {
  margin-right: 3.8%; }

@media (min-width: 1366px) {
  .main-header {
    padding-top: 32px;
    padding-left: 40px;
    padding-bottom: 32px;
    padding-right: 40px; } }

.navigation {
  width: 88%; }

.navigation ul {
  width: auto;
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none; }

.navigation__item {
  margin-right: 2%;
  opacity: .6; }
  .navigation__item--current {
    opacity: 1.0; }

.navigation__item a {
  font-family: "Arial MT Bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-decoration: none; }
  .navigation__item a:visited {
    color: #333333; }

.main-page {
  width: 100%;
  max-width: 1366px;
  padding-top: 1.9%;
  padding-left: 2.9%;
  padding-right: 2.9%;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; }

@media (min-width: 1366px) {
  .main-page {
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px; } }

.favourite-scripts {
  width: 50%;
  padding-left: 25px;
  box-sizing: border-box; }

.favourite-scripts__wrapper {
  width: 100%;
  margin-bottom: 20px;
  display: flex; }

.favourite-scripts__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px; }

.favourite-scripts__item {
  width: 100%;
  height: 100%;
  min-height: 100px;
  padding: 15px;
  background-color: #F7F7F7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
  cursor: pointer; }
  .favourite-scripts__item h4 {
    padding: 0;
    margin: 0;
    margin-top: auto;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 14px;
    color: #333333; }
  .favourite-scripts__item p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #858585; }
  .favourite-scripts__item:hover {
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
    background-color: #FFFFFF; }

.favourite-devices {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .favourite-devices h2 {
    margin-right: 10px; }

.favourite-devices__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.filter {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none; }

.filter__item {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #f7f7f7; }
  .filter__item--current {
    background-color: #FFD93E; }
  .filter__item a {
    padding: 0;
    margin: 0;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    text-decoration: none; }
    .filter__item a:visited {
      color: #000000; }

.devices-controls {
  width: 4%;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none; }

.devices-controls__button {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none; }
  .devices-controls__button--right img {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1); }

.devices {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 15px; }

.devices__item {
  width: 100%;
  height: 100%;
  min-height: 120px;
  padding: 15px;
  background-color: #F7F7F7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: all 0.4s ease-out;
  cursor: pointer; }
  .devices__item h4 {
    padding: 0;
    margin: 0;
    margin-top: auto;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 14px;
    color: #333333; }
  .devices__item p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #858585; }
  .devices__item:hover {
    box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
    background-color: #FFFFFF; }

.main-footer {
  width: 100%;
  max-width: 1366px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  box-sizing: border-box; }

.footer-navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none; }

.footer-navigation__item {
  margin-right: 10px; }
  .footer-navigation__item a {
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #858585;
    letter-spacing: 0.01px;
    text-decoration: none; }

.copyright {
  margin-left: auto; }
  .copyright p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #858585;
    letter-spacing: 0.01px; }

.welcome {
  width: 100%;
  padding: 25px 25px 0 25px;
  display: flex;
  background-image: url("../img/bg@1x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box; }
  .welcome h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 27px;
    color: #333333; }
  .welcome p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 14px;
    color: #333333; }

.welcome__wrapper {
  width: 57%; }
  .welcome__wrapper p {
    margin-bottom: 25px; }

.welcome__scroll-button {
  display: block;
  margin: 0 auto; }

.welcome__weather {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none; }
  .welcome__weather p {
    padding: 0;
    margin: 0;
    margin-right: 18px;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 14px;
    color: #858585; }
  .welcome__weather .welcome__celsius {
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 36px;
    color: #333333; }

.welcome-tasks {
  width: 34%;
  padding: 0;
  margin: 0;
  margin-left: auto;
  list-style: none; }

.welcome-tasks__item {
  min-height: 120px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }
  .welcome-tasks__item h4 {
    padding: 0;
    margin: 0;
    margin-top: auto;
    margin-bottom: 4px;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 14px;
    color: #333333; }
  .welcome-tasks__item p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 12px;
    color: #858585; }
  .welcome-tasks__item--scroll {
    min-height: 40px;
    margin-bottom: 0;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }

.scripts-controls {
  width: 8%;
  padding: 0;
  margin: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none; }

.scripts-controls__button {
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none; }
  .scripts-controls__button--right img {
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1); }

.pop-up--open {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.5);
  z-index: 3; }
  .pop-up--open .open {
    display: flex; }

.warm-floor {
  width: 50%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 28%; }

.warm-floor__content {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; }

.warm-floor__wrapper {
  width: 50%; }
  .warm-floor__wrapper h3 {
    padding: 0;
    margin: 0;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 27px;
    color: #333333; }
  .warm-floor__wrapper p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 14px;
    color: #333333; }

.warm-floor__temperature {
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .warm-floor__temperature p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 36px;
    color: #333333; }

.warm-floor__termostat {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  background-image: url("../img/Oval@1x.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat; }
  .warm-floor__termostat p {
    padding: 0;
    margin: 0 auto;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 66px;
    line-height: 160px;
    color: #333333;
    text-align: center;
    background-image: url("../img/background.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat; }

.warm-floor__buttons {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between; }
  .warm-floor__buttons .warm-floor__button {
    width: 48%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 18px;
    color: #000000; }
    .warm-floor__buttons .warm-floor__button--apply {
      background-color: #FFD93E; }

.light {
  width: 50%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 28%; }

.light__content {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.light__wrapper {
  position: relative;
  margin-bottom: 20px; }
  .light__wrapper h3 {
    padding: 0;
    margin: 0;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 27px;
    color: #333333; }
  .light__wrapper p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 14px;
    color: #333333; }

.light__icon {
  position: absolute;
  top: 0;
  right: 0; }

.light__list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  list-style: none; }

.light__item {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #f7f7f7; }
  .light__item--current {
    background-color: #FFD93E; }
  .light__item a {
    padding: 0;
    margin: 0;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    text-decoration: none; }
    .light__item a:visited {
      color: #000000; }

.light__termostat {
  width: 100%;
  min-height: 60px;
  background-image: linear-gradient(-85deg, #FF9E00 2%, #FFE682 98%);
  border-radius: 30px;
  position: relative; }
  .light__termostat::before {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    left: 15px;
    top: 13px;
    background-image: url("../img/icon_sun_min.svg");
    background-repeat: no-repeat; }
  .light__termostat::after {
    content: "";
    width: 36px;
    height: 36px;
    position: absolute;
    right: 15px;
    top: 13px;
    background-image: url("../img/icon_sun_max.svg");
    background-repeat: no-repeat; }

.light__slider {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 30%;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 1px 10px -7px rgba(0, 0, 0, 0.5);
  box-sizing: border-box; }

.light__buttons {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between; }
  .light__buttons .light__button {
    width: 48%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 18px;
    color: #000000; }
    .light__buttons .light__button--apply {
      background-color: #FFD93E; }

.temperature {
  width: 50%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 25%;
  left: 28%; }

.temperature__content {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; }

.temperature__wrapper {
  position: relative;
  margin-bottom: 20px; }
  .temperature__wrapper h3 {
    padding: 0;
    margin: 0;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 27px;
    color: #333333; }
  .temperature__wrapper p {
    padding: 0;
    margin: 0;
    font-family: "Arial MT", Arial, sans-serif;
    font-size: 14px;
    color: #333333; }

.temperature__icon {
  position: absolute;
  top: 0;
  right: 0; }

.temperature__list {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  list-style: none; }

.temperature__item {
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #f7f7f7; }
  .temperature__item--current {
    background-color: #FFD93E; }
  .temperature__item a {
    padding: 0;
    margin: 0;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    text-decoration: none; }
    .temperature__item a:visited {
      color: #000000; }

.temperature__termostat {
  width: 100%;
  min-height: 60px;
  background-image: linear-gradient(-90deg, #F76B1C 2%, #FFD800 51%, #068FFF 100%);
  border-radius: 30px;
  position: relative; }
  .temperature__termostat::before {
    content: "-10";
    position: absolute;
    left: 15px;
    top: 20px;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 18px;
    color: #ffffff; }
  .temperature__termostat::after {
    content: "+30";
    position: absolute;
    right: 15px;
    top: 20px;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 18px;
    color: #ffffff; }

.temperature__slider {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  right: 30%;
  border: 4px solid #FFFFFF;
  border-radius: 50%;
  box-shadow: 0 1px 10px -7px rgba(0, 0, 0, 0.5);
  box-sizing: border-box; }

.temperature__buttons {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between; }
  .temperature__buttons .temperature__button {
    width: 48%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: "Arial MT Bold", Arial, sans-serif;
    font-size: 18px;
    color: #000000; }
    .temperature__buttons .temperature__button--apply {
      background-color: #FFD93E; }

.homepage {
  width: 50%;
  margin-bottom: 30px; }
  .homepage h2 {
    margin-bottom: 2.4%; }
