@font-face {
  font-family: "Arial MT";
  src: url("../fonts/ArialMT.woff") format("woff");
}

@font-face {
  font-family: "Arial MT Bold";
  src: url("../fonts/Arial-BoldMT.woff") format("woff");
  font-weight: 700;
}

$desktop: 1366px;
$mobile: 768px;

body {
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.top-wrapper {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
}

h2 {
  padding: 0;
  margin: 0;
  font-family: "Arial MT Bold", serif, Arial;
  font-size: 18px;
  color: #333333;
}

@media (max-width: $mobile) {
  body {
    width: auto;
    height: auto;
  }

  .top-wrapper {
    border: none;
  }
}
